body,
html {
    width: 100%;
    height: 100%;
}

hr {
    max-width: 65px;
    border-width: 3px;
    border-color: orangered;
}

header.startup {
    background-position: center;
    background-image: url("5.3\ header.jpg.jpg");
    background-size: cover;
    height: 100%;
}

header.startup hr {
    margin-top: 200px;
    margin-bottom: 30px;
}

header.startup h1 {
    font-size: 2rem;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
}

.btn-primary {
    background-color: orangered;
    border-color: orangered;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary:hover {
    background-color: orange;
    border-color: orange;
    border-width: 10px;
    cursor: pointer;
}